<div
  class="course-card"
  appHighlight="lightblue"
  [ngClass]="cardClasses"
  [ngStyle]="borderStyle">

  <h3>{{ course.name }}</h3>

  <p>Course Code: {{ course.code }}</p>

  <p>
    Credits:
    {{ course.credits | creditLabel }}
  </p>

  <p>
    Status:
    <span [ngSwitch]="course.gradeStatus">

      <span *ngSwitchCase="'passed'">
        Passed
      </span>

      <span *ngSwitchCase="'failed'">
        Failed
      </span>

      <span *ngSwitchCase="'pending'">
        Pending
      </span>

    </span>
  </p>

  <button (click)="enroll()">
    Enroll
  </button>

  <button (click)="toggleDetails()">
    Show Details
  </button>

  <div *ngIf="isExpanded">

    <p>
      Instructor:
      {{ course.instructor }}
    </p>

    <p>
      Credits:
      {{ course.credits | creditLabel }}
    </p>

    <p>
      Status:
      {{ course.gradeStatus }}
    </p>

  </div>

</div>

<hr>